# Common Table Expressions (CTEs) vs. subqueries
© ExploreAI Academy

This notebook will compare and contrast Common Table Expressions (CTEs) and subqueries in SQL. We will explore their similarities, differences, use cases, and when to choose one over the other.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

- Understand the differences between CTEs and subqueries.
- Learn how to optimise SQL queries using CTEs.
- Write complex SQL queries using CTEs and subqueries.

## Overview

In this notebook, we will explore Common Table Expressions (CTEs) and subqueries in SQL. These are powerful tools that can help us simplify complex queries, enhance readability, and improve the performance of our SQL operations. 

We will examine these concepts in the context of a real-world problem: *Identifying Sub-Saharan African countries with underdeveloped economies that might struggle to gain access to water.*

We will start by writing SQL queries using subqueries and then delve into the optimisation of these queries using CTEs.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

In [1]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name.

%sql mysql+pymysql://root:12345678@localhost:3306/united_nations

UsageError: Line magic function `%sql` not found.

## Exercise

We will be working with the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their access to basic services, and their estimated GDP.

The tasks will involve writing and optimising SQL queries to identify Sub-Saharan African countries with an estimated GDP below the regional average and less than 60% access to managed drinking water services in 2020.

In [3]:
%%sql
SELECT * FROM Access_to_Basic_Services LIMIT 3

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

3 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+

In [6]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

### Task 1: Calculate the average GDP for each region

Start by calculating the average GDP for each country’s region for 2020 using the `AVG(Est_gdp_in_billions) OVER(PARTITION BY Region)` window function.

In [13]:
%%sql
SELECT
    Region, 
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    AVG(Est_gdp_in_billions) OVER (
    PARTITION BY Region) AS Avg_gdp_region
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

165 rows affected.

+----------------------------------+---------------------------------------+-------------------------------------+---------------------------------+----------------+
|              Region              |              Country_name             | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Avg_gdp_region |
+----------------------------------+---------------------------------------+-------------------------------------+---------------------------------+----------------+
|    Central and Southern Asia     |               Kazakhstan              |                95.00                |              98.00              |   338.738182   |
|    Central and Southern Asia     |               Kyrgyzstan              |                92.67                |              97.67              |   338.738182   |
|    Central and Southern Asia     |               Tajikistan              |                85.00                |              96.33              |   338.738182   |
|    Central and Southern Asia     |              Turkmenistan             |                100.00               |              99.33              |   338.738182   |
|    Central and Southern Asia     |               Uzbekistan              |                98.00                |              100.00             |   338.738182   |
|    Central and Southern Asia     |              Afghanistan              |                80.33                |              54.00              |   338.738182   |
|    Central and Southern Asia     |               Bangladesh              |                97.67                |              54.00              |   338.738182   |
|    Central and Southern Asia     |                 Bhutan                |                97.33                |              76.67              |   338.738182   |
|    Central and Southern Asia     |                 India                 |                91.00                |              72.33              |   338.738182   |
|    Central and Southern Asia     |       Iran (Islamic Republic of)      |                96.67                |              88.33              |   338.738182   |
|    Central and Southern Asia     |                Maldives               |                99.67                |              99.33              |   338.738182   |
|    Central and Southern Asia     |                 Nepal                 |                90.00                |              76.67              |   338.738182   |
|    Central and Southern Asia     |                Pakistan               |                90.67                |              70.00              |   338.738182   |
|    Central and Southern Asia     |               Sri Lanka               |                94.33                |              93.67              |   338.738182   |
|  Eastern and South-Eastern Asia  |                 China                 |                93.67                |              91.67              |  1871.901667   |
|  Eastern and South-Eastern Asia  | Democratic People's Republic of Korea |                93.33                |              83.33              |  1871.901667   |
|  Eastern and South-Eastern Asia  |                 Japan                 |                99.00                |              100.00             |  1871.901667   |
|  Eastern and South-Eastern Asia  |                Mongolia               |                81.00                |              65.00              |  1871.901667   |
|  Eastern and South-Eastern Asia  |           Republic of Korea           |                100.00               |              100.00             |  1871.901667   |
|  Eastern and South-Eastern Asia  |           Brunei Darussalam           |                100.00               |               None              |  1871.901667   |
|  Eastern and South-Eastern Asia  |                Cambodia               |                75.33                |              74.33              |  1871.901667   |
|  Eastern and South-Eastern Asia  |               Indonesia               |                92.00                |              86.00              |  1871.901667   |
|  Eastern and South-Eastern Asia  |    Lao People's Democratic Republic   |                86.67                |              82.00              |  1871.901667   |
|  Eastern and South-Eastern Asia  |                Malaysia               |                95.33                |              100.00             |  1871.901667   |
|  Eastern and South-Eastern Asia  |                Myanmar                |                85.67                |              74.67              |  1871.901667   |
|  Eastern and South-Eastern Asia  |              Philippines              |                94.00                |              82.00              |  1871.901667   |
|  Eastern and South-Eastern Asia  |               Singapore               |                100.00               |              100.00             |  1871.901667   |
|  Eastern and South-Eastern Asia  |                Thailand               |                100.00               |              98.67              |  1871.901667   |
|  Eastern and South-Eastern Asia  |              Timor-Leste              |                87.00                |              60.00              |  1871.901667   |
|  Eastern and South-Eastern Asia  |                Viet Nam               |                97.33                |              90.00              |  1871.901667   |
|   Europe and Northern America    |                Bermuda                |                100.00               |              100.00             |   551.796667   |
|   Europe and Northern America    |                 Canada                |                99.00                |              99.00              |   551.796667   |
|   Europe and Northern America    |               Greenland               |                100.00               |              100.00             |   551.796667   |
|   Europe and Northern America    |       Saint Pierre and Miquelon       |                91.00                |              100.00             |   551.796667   |
|   Europe and Northern America    |        United States of America       |                100.00               |              99.67              |   551.796667   |
| Latin America and the Caribbean  |                Barbados               |                99.00                |              98.00              |   177.844400   |
| Latin America and the Caribbean  |         British Virgin Islands        |                100.00               |               None              |   177.844400   |
| Latin America and the Caribbean  |                  Cuba                 |                96.33                |              90.00              |   177.844400   |
| Latin America and the Caribbean  |           Dominican Republic          |                95.00                |              84.33              |   177.844400   |
| Latin America and the Caribbean  |               Guadeloupe              |                100.00               |              100.00             |   177.844400   |
| Latin America and the Caribbean  |                 Haiti                 |                65.00                |              36.00              |   177.844400   |
| Latin America and the Caribbean  |                Jamaica                |                90.33                |              87.00              |   177.844400   |
| Latin America and the Caribbean  |               Martinique              |                100.00               |              100.00             |   177.844400   |
| Latin America and the Caribbean  |               Montserrat              |                98.00                |              89.00              |   177.844400   |
| Latin America and the Caribbean  |              Puerto Rico              |                100.00               |              100.00             |   177.844400   |
| Latin America and the Caribbean  |            Saint Barthélemy           |                100.00               |              100.00             |   177.844400   |
| Latin America and the Caribbean  |              Saint Lucia              |                97.00                |              82.00              |   177.844400   |
| Latin America and the Caribbean  |       Saint Martin (French Part)      |                100.00               |              100.00             |   177.844400   |
| Latin America and the Caribbean  |          Trinidad and Tobago          |                99.00                |              94.00              |   177.844400   |
| Latin America and the Caribbean  |      United States Virgin Islands     |                99.00                |              99.00              |   177.844400   |
| Latin America and the Caribbean  |                 Belize                |                98.33                |              88.67              |   177.844400   |
| Latin America and the Caribbean  |               Costa Rica              |                100.00               |              97.67              |   177.844400   |
| Latin America and the Caribbean  |              El Salvador              |                97.00                |              79.67              |   177.844400   |
| Latin America and the Caribbean  |               Guatemala               |                94.00                |              67.67              |   177.844400   |
| Latin America and the Caribbean  |                Honduras               |                95.33                |              83.33              |   177.844400   |
| Latin America and the Caribbean  |                 Mexico                |                99.33                |              90.67              |   177.844400   |
| Latin America and the Caribbean  |               Nicaragua               |                79.33                |              71.67              |   177.844400   |
| Latin America and the Caribbean  |                 Panama                |                92.67                |              81.00              |   177.844400   |
| Latin America and the Caribbean  |               Argentina               |                100.00               |              99.00              |   177.844400   |
| Latin America and the Caribbean  |    Bolivia (Plurinational State of)   |                90.67                |              61.67              |   177.844400   |
| Latin America and the Caribbean  |                 Brazil                |                98.33                |              82.33              |   177.844400   |
| Latin America and the Caribbean  |                 Chile                 |                100.00               |              100.00             |   177.844400   |
| Latin America and the Caribbean  |                Colombia               |                94.67                |              91.33              |   177.844400   |
| Latin America and the Caribbean  |                Ecuador                |                94.00                |              91.33              |   177.844400   |
| Latin America and the Caribbean  |      Falkland Islands (Malvinas)      |                91.00                |              100.00             |   177.844400   |
| Latin America and the Caribbean  |             French Guiana             |                94.00                |              92.00              |   177.844400   |
| Latin America and the Caribbean  |                 Guyana                |                96.67                |              87.33              |   177.844400   |
| Latin America and the Caribbean  |                Paraguay               |                99.67                |              92.00              |   177.844400   |
| Latin America and the Caribbean  |                  Peru                 |                90.33                |              74.33              |   177.844400   |
| Latin America and the Caribbean  |                Suriname               |                98.00                |              88.67              |   177.844400   |
| Latin America and the Caribbean  |                Uruguay                |                98.00                |              98.33              |   177.844400   |
| Latin America and the Caribbean  |   Venezuela (Bolivarian Republic of)  |                94.00                |              96.00              |   177.844400   |
| Northern Africa and Western Asia |                Algeria                |                93.33                |              84.33              |   129.046000   |
| Northern Africa and Western Asia |                 Egypt                 |                99.33                |              97.67              |   129.046000   |
| Northern Africa and Western Asia |                 Libya                 |                100.00               |              92.00              |   129.046000   |
| Northern Africa and Western Asia |                Morocco                |                88.33                |              84.67              |   129.046000   |
| Northern Africa and Western Asia |                 Sudan                 |                62.33                |              40.33              |   129.046000   |
| Northern Africa and Western Asia |                Tunisia                |                97.00                |              97.33              |   129.046000   |
| Northern Africa and Western Asia |                Armenia                |                100.00               |              92.33              |   129.046000   |
| Northern Africa and Western Asia |               Azerbaijan              |                95.67                |              96.00              |   129.046000   |
| Northern Africa and Western Asia |                Bahrain                |                100.00               |              100.00             |   129.046000   |
| Northern Africa and Western Asia |                 Cyprus                |                100.00               |              99.33              |   129.046000   |
| Northern Africa and Western Asia |                Georgia                |                96.67                |              84.33              |   129.046000   |
| Northern Africa and Western Asia |                  Iraq                 |                97.67                |              100.00             |   129.046000   |
| Northern Africa and Western Asia |                 Israel                |                100.00               |              99.67              |   129.046000   |
| Northern Africa and Western Asia |                 Jordan                |                98.33                |              96.33              |   129.046000   |
| Northern Africa and Western Asia |                 Kuwait                |                100.00               |              100.00             |   129.046000   |
| Northern Africa and Western Asia |                Lebanon                |                93.00                |              99.00              |   129.046000   |
| Northern Africa and Western Asia |                  Oman                 |                87.67                |              99.00              |   129.046000   |
| Northern Africa and Western Asia |                 Qatar                 |                100.00               |              100.00             |   129.046000   |
| Northern Africa and Western Asia |              Saudi Arabia             |                100.00               |              100.00             |   129.046000   |
| Northern Africa and Western Asia |           State of Palestine          |                98.33                |              98.67              |   129.046000   |
| Northern Africa and Western Asia |          Syrian Arab Republic         |                93.67                |              90.00              |   129.046000   |
| Northern Africa and Western Asia |                Türkiye                |                96.67                |              98.67              |   129.046000   |
| Northern Africa and Western Asia |          United Arab Emirates         |                100.00               |              99.00              |   129.046000   |
| Northern Africa and Western Asia |                 Yemen                 |                63.00                |              57.33              |   129.046000   |
|             Oceania              |               Australia               |                100.00               |              100.00             |   93.726471    |
|             Oceania              |              New Zealand              |                100.00               |              100.00             |   93.726471    |
|             Oceania              |                  Fiji                 |                93.67                |              99.00              |   93.726471    |
|             Oceania              |             New Caledonia             |                99.00                |              100.00             |   93.726471    |
|             Oceania              |            Papua New Guinea           |                56.67                |              27.67              |   93.726471    |
|             Oceania              |            Solomon Islands            |                72.33                |              44.67              |   93.726471    |
|             Oceania              |                Vanuatu                |                93.00                |              55.67              |   93.726471    |
|             Oceania              |                  Guam                 |                100.00               |               None              |   93.726471    |
|             Oceania              |                Kiribati               |                77.00                |              45.33              |   93.726471    |
|             Oceania              |            Marshall Islands           |                90.00                |              78.00              |   93.726471    |
|             Oceania              |                 Nauru                 |                100.00               |               None              |   93.726471    |
|             Oceania              |        Northern Mariana Islands       |                100.00               |              79.00              |   93.726471    |
|             Oceania              |                 Palau                 |                100.00               |              99.67              |   93.726471    |
|             Oceania              |             American Samoa            |                100.00               |              54.00              |   93.726471    |
|             Oceania              |              Cook Islands             |                100.00               |              99.00              |   93.726471    |
|             Oceania              |            French Polynesia           |                100.00               |              97.00              |   93.726471    |
|             Oceania              |                  Niue                 |                97.00                |              96.00              |   93.726471    |
|             Oceania              |                 Samoa                 |                92.00                |              96.33              |   93.726471    |
|             Oceania              |                Tokelau                |                100.00               |              97.00              |   93.726471    |
|             Oceania              |                 Tonga                 |                99.00                |              93.33              |   93.726471    |
|             Oceania              |                 Tuvalu                |                100.00               |               None              |   93.726471    |

### Task 2: Filter the data

Next, let’s filter the data to focus only on the Sub-Saharan African countries with underdeveloped economies and also limited access to managed drinking water services in 2020.

In [20]:
%%sql
SELECT
    Region, 
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    AVG(Est_gdp_in_billions) OVER (
    PARTITION BY Region) AS Avg_gdp_region
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020 AND
    Region = 'Sub-Saharan Africa' AND
    Pct_managed_drinking_water_services < 60 AND
    Est_gdp_in_billions < Avg_gdp_region

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1054, "Unknown column 'Avg_gdp_region' in 'where clause'")
[SQL: SELECT
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    AVG(Est_gdp_in_billions) OVER (
    PARTITION BY Region) AS Avg_gdp_region
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020 AND
    Region = 'Sub-Saharan Africa' AND
    Pct_managed_drinking_water_services < 60 AND
    Est_gdp_in_billions < Avg_gdp_region]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Note that you get an error message:

Unknown column `Avg_gdp_for_region` in `where clause`...

This is because we cannot calculate *and* reference that result in the same query.

### Task 3: Implement the solution using subqueries

We can fix the error by using a subquery to calculate the average regional GDP, and then use those results in the main query.

In [42]:
%%sql
SELECT
    Region, 
    Country_name,
    Est_gdp_in_billions,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Avg_gdp_region
FROM(
        SELECT
            Region, 
            Country_name,
            Pct_managed_drinking_water_services,
            Pct_managed_sanitation_services,
            Est_gdp_in_billions,
            AVG(Est_gdp_in_billions) OVER (
            PARTITION BY Region) AS Avg_gdp_region
        FROM
            Access_to_Basic_Services
        WHERE
            Time_period = 2020) AS AVG_GDP_2020
WHERE
    Region = 'Sub-Saharan Africa' AND
    Pct_managed_drinking_water_services < 60 AND
    Est_gdp_in_billions < Avg_gdp_region

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------+--------------------------+---------------------+-------------------------------------+---------------------------------+----------------+
|       Region       |       Country_name       | Est_gdp_in_billions | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Avg_gdp_region |
+--------------------+--------------------------+---------------------+-------------------------------------+---------------------------------+----------------+
| Sub-Saharan Africa |        Madagascar        |        13.05        |                56.33                |              13.00              |   39.041316    |
| Sub-Saharan Africa |         Somalia          |         6.88        |                57.33                |              40.00              |   39.041316    |
| Sub-Saharan Africa | Central African Republic |         2.33        |                38.33                |              15.00              |   39.041316    |
| Sub-Saharan Africa |           Chad           |        10.72        |                52.67                |              18.67              |   39.041316    |
| Sub-Saharan Africa |       Burkina Faso       |        17.93        |                53.33                |              25.00              |   39.041316    |
| Sub-Saharan Africa |          Niger           |        13.74        |                57.33                |              24.67              |   39.041316    |
+--------------------+--------------------------+---------------------+-------------------------------------+---------------------------------+----------------+

### Task 4: Implement the solution using Common Table Expressions (CTEs)

Now, let's attempt the same problem using Common Table Expressions (CTEs).

In [50]:
%%sql
WITH
    AVG_GDP_2020 AS (
    SELECT
        Country_name,
        Region,
        Est_gdp_in_billions,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_region
    FROM
        Access_to_Basic_Services
    WHERE
        Time_period = 2020)


SELECT
    Region, 
    Country_name,
    Est_gdp_in_billions,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Avg_gdp_region
FROM 
    AVG_GDP_2020
WHERE
    Region = 'Sub-Saharan Africa' AND
    Pct_managed_drinking_water_services < 60 AND
    Est_gdp_in_billions < Avg_gdp_region

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------+--------------------------+---------------------+-------------------------------------+---------------------------------+----------------+
|       Region       |       Country_name       | Est_gdp_in_billions | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Avg_gdp_region |
+--------------------+--------------------------+---------------------+-------------------------------------+---------------------------------+----------------+
| Sub-Saharan Africa |        Madagascar        |        13.05        |                56.33                |              13.00              |   39.041316    |
| Sub-Saharan Africa |         Somalia          |         6.88        |                57.33                |              40.00              |   39.041316    |
| Sub-Saharan Africa | Central African Republic |         2.33        |                38.33                |              15.00              |   39.041316    |
| Sub-Saharan Africa |           Chad           |        10.72        |                52.67                |              18.67              |   39.041316    |
| Sub-Saharan Africa |       Burkina Faso       |        17.93        |                53.33                |              25.00              |   39.041316    |
| Sub-Saharan Africa |          Niger           |        13.74        |                57.33                |              24.67              |   39.041316    |
+--------------------+--------------------------+---------------------+-------------------------------------+---------------------------------+----------------+

## Solutions

### Task 1: Calculate the average GDP for each region

In [7]:
%%sql
SELECT 
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM united_nations.Access_to_Basic_Services
WHERE Time_period = 2020;

 * mysql+pymysql://root:***@localhost:3306/united_nations
122 rows affected.

[('Central and Southern Asia', 'Kazakhstan', Decimal('95.00'), Decimal('98.00'), Decimal('171.08'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Kyrgyzstan', Decimal('92.67'), Decimal('97.67'), None, Decimal('338.738182')),
 ('Central and Southern Asia', 'Tajikistan', Decimal('85.00'), Decimal('96.33'), Decimal('8.13'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Turkmenistan', Decimal('100.00'), Decimal('99.33'), None, Decimal('338.738182')),
 ('Central and Southern Asia', 'Uzbekistan', Decimal('98.00'), Decimal('100.00'), Decimal('59.89'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Afghanistan', Decimal('80.33'), Decimal('54.00'), Decimal('20.14'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Bangladesh', Decimal('97.67'), Decimal('54.00'), Decimal('373.90'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Bhutan', Decimal('97.33'), Decimal('76.67'), Decimal('2.33'), Decimal('338.738182')),
 ('Central and Southern Asia', 'India', Decimal('91.00'), Decimal('72.33'), Decimal('2667.69'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Iran (Islamic Republic of)', Decimal('96.67'), Decimal('88.33'), None, Decimal('338.738182')),
 ('Central and Southern Asia', 'Maldives', Decimal('99.67'), Decimal('99.33'), Decimal('3.75'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Nepal', Decimal('90.00'), Decimal('76.67'), Decimal('33.43'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Pakistan', Decimal('90.67'), Decimal('70.00'), Decimal('300.43'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Sri Lanka', Decimal('94.33'), Decimal('93.67'), Decimal('85.35'), Decimal('338.738182')),
 ('Eastern and South-Eastern Asia', 'China', Decimal('93.67'), Decimal('91.67'), Decimal('14687.67'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', "Democratic People's Republic of Korea", Decimal('93.33'), Decimal('83.33'), None, Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Japan', Decimal('99.00'), Decimal('100.00'), Decimal('5040.11'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Mongolia', Decimal('81.00'), Decimal('65.00'), Decimal('13.31'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Republic of Korea', Decimal('100.00'), Decimal('100.00'), None, Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Brunei Darussalam', Decimal('100.00'), None, Decimal('12.01'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Cambodia', Decimal('75.33'), Decimal('74.33'), Decimal('25.87'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Indonesia', Decimal('92.00'), Decimal('86.00'), Decimal('1058.69'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', "Lao People's Democratic Republic", Decimal('86.67'), Decimal('82.00'), None, Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Malaysia', Decimal('95.33'), Decimal('100.00'), Decimal('337.34'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Myanmar', Decimal('85.67'), Decimal('74.67'), Decimal('78.93'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Philippines', Decimal('94.00'), Decimal('82.00'), Decimal('361.75'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Singapore', Decimal('100.00'), Decimal('100.00'), Decimal('345.30'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Thailand', Decimal('100.00'), Decimal('98.67'), Decimal('499.68'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Timor-Leste', Decimal('87.00'), Decimal('60.00'), Decimal('2.16'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Viet Nam', Decimal('97.33'), Decimal('90.00'), None, Decimal('1871.901667')),
 ('Europe and Northern America', 'Bermuda', Decimal('100.00'), Decimal('100.00'), Decimal('6.89'), Decimal('551.796667')),
 ('Europe and Northern America', 'Canada', Decimal('99.00'), Decimal('99.00'), Decimal('1645.42'), Decimal('551.796667')),
 ('Europe and Northern America', 'Greenland', Decimal('100.00'), Decimal('100.00'), Decimal('3.08'), Decimal('551.796667')),
 ('Europe and Northern America', 'Saint Pierre and Miquelon', Decimal('91.00'), Decimal('100.00'), None, Decimal('551.796667')),
 ('Europe and Northern America', 'United States of America', Decimal('100.00'), Decimal('99.67'), None, Decimal('551.796667')),
 ('Latin America and the Caribbean', 'Barbados', Decimal('99.00'), Decimal('98.00'), Decimal('4.67'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'British Virgin Islands', Decimal('100.00'), None, None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Cuba', Decimal('96.33'), Decimal('90.00'), Decimal('107.35'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Dominican Republic', Decimal('95.00'), Decimal('84.33'), Decimal('78.84'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Guadeloupe', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Haiti', Decimal('65.00'), Decimal('36.00'), Decimal('14.51'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Jamaica', Decimal('90.33'), Decimal('87.00'), Decimal('13.81'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Martinique', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Montserrat', Decimal('98.00'), Decimal('89.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Puerto Rico', Decimal('100.00'), Decimal('100.00'), Decimal('103.02'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Saint Barthélemy', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Saint Lucia', Decimal('97.00'), Decimal('82.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Saint Martin (French Part)', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Trinidad and Tobago', Decimal('99.00'), Decimal('94.00'), Decimal('21.06'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'United States Virgin Islands', Decimal('99.00'), Decimal('99.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Belize', Decimal('98.33'), Decimal('88.67'), Decimal('2.08'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Costa Rica', Decimal('100.00'), Decimal('97.67'), Decimal('62.16'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'El Salvador', Decimal('97.00'), Decimal('79.67'), Decimal('24.56'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Guatemala', Decimal('94.00'), Decimal('67.67'), Decimal('77.63'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Honduras', Decimal('95.33'), Decimal('83.33'), Decimal('23.83'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Mexico', Decimal('99.33'), Decimal('90.67'), Decimal('1090.52'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Nicaragua', Decimal('79.33'), Decimal('71.67'), Decimal('12.59'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Panama', Decimal('92.67'), Decimal('81.00'), Decimal('53.98'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Argentina', Decimal('100.00'), Decimal('99.00'), Decimal('385.54'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Bolivia (Plurinational State of)', Decimal('90.67'), Decimal('61.67'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Brazil', Decimal('98.33'), Decimal('82.33'), Decimal('1448.56'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Chile', Decimal('100.00'), Decimal('100.00'), Decimal('252.73'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Colombia', Decimal('94.67'), Decimal('91.33'), Decimal('270.30'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Ecuador', Decimal('94.00'), Decimal('91.33'), Decimal('99.29'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Falkland Islands (Malvinas)', Decimal('91.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'French Guiana', Decimal('94.00'), Decimal('92.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Guyana', Decimal('96.67'), Decimal('87.33'), Decimal('5.47'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Paraguay', Decimal('99.67'), Decimal('92.00'), Decimal('35.43'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Peru', Decimal('90.33'), Decimal('74.33'), Decimal('201.71'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Suriname', Decimal('98.00'), Decimal('88.67'), Decimal('2.91'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Uruguay', Decimal('98.00'), Decimal('98.33'), Decimal('53.56'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Venezuela (Bolivarian Republic of)', Decimal('94.00'), Decimal('96.00'), None, Decimal('177.844400')),
 ('Northern Africa and Western Asia', 'Algeria', Decimal('93.33'), Decimal('84.33'), Decimal('145.01'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Egypt', Decimal('99.33'), Decimal('97.67'), None, Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Libya', Decimal('100.00'), Decimal('92.00'), Decimal('50.36'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Morocco', Decimal('88.33'), Decimal('84.67'), Decimal('121.35'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Sudan', Decimal('62.33'), Decimal('40.33'), Decimal('27.03'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Tunisia', Decimal('97.00'), Decimal('97.33'), Decimal('42.54'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Armenia', Decimal('100.00'), Decimal('92.33'), Decimal('12.64'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Azerbaijan', Decimal('95.67'), Decimal('96.00'), Decimal('42.69'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Bahrain', Decimal('100.00'), Decimal('100.00'), Decimal('34.72'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Cyprus', Decimal('100.00'), Decimal('99.33'), Decimal('25.01'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Georgia', Decimal('96.67'), Decimal('84.33'), Decimal('15.84'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Iraq', Decimal('97.67'), Decimal('100.00'), Decimal('184.37'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Israel', Decimal('100.00'), Decimal('99.67'), Decimal('413.27'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Jordan', Decimal('98.33'), Decimal('96.33'), Decimal('44.18'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Kuwait', Decimal('100.00'), Decimal('100.00'), Decimal('105.96'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Lebanon', Decimal('93.00'), Decimal('99.00'), Decimal('31.71'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Oman', Decimal('87.67'), Decimal('99.00'), Decimal('75.91'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Qatar', Decimal('100.00'), Decimal('100.00'), Decimal('144.41'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Saudi Arabia', Decimal('100.00'), Decimal('100.00'), Decimal('703.37'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'State of Palestine', Decimal('98.33'), Decimal('98.67'), None, Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Syrian Arab Republic', Decimal('93.67'), Decimal('90.00'), Decimal('11.08'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Türkiye', Decimal('96.67'), Decimal('98.67'), None, Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'United Arab Emirates', Decimal('100.00'), Decimal('99.00'), Decimal('349.47'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Yemen', Decimal('63.00'), Decimal('57.33'), None, Decimal('129.046000')),
 ('Oceania', 'Australia', Decimal('100.00'), Decimal('100.00'), Decimal('1326.90'), Decimal('93.726471')),
 ('Oceania', 'New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('211.73'), Decimal('93.726471')),
 ('Oceania', 'Fiji', Decimal('93.67'), Decimal('99.00'), Decimal('4.48'), Decimal('93.726471')),
 ('Oceania', 'New Caledonia', Decimal('99.00'), Decimal('100.00'), Decimal('9.44'), Decimal('93.726471')),
 ('Oceania', 'Papua New Guinea', Decimal('56.67'), Decimal('27.67'), Decimal('23.85'), Decimal('93.726471')),
 ('Oceania', 'Solomon Islands', Decimal('72.33'), Decimal('44.67'), Decimal('1.54'), Decimal('93.726471')),
 ('Oceania', 'Vanuatu', Decimal('93.00'), Decimal('55.67'), Decimal('0.90'), Decimal('93.726471')),
 ('Oceania', 'Guam', Decimal('100.00'), None, Decimal('5.89'), Decimal('93.726471')),
 ('Oceania', 'Kiribati', Decimal('77.00'), Decimal('45.33'), Decimal('0.18'), Decimal('93.726471')),
 ('Oceania', 'Marshall Islands', Decimal('90.00'), Decimal('78.00'), Decimal('0.24'), Decimal('93.726471')),
 ('Oceania', 'Nauru', Decimal('100.00'), None, Decimal('0.11'), Decimal('93.726471')),
 ('Oceania', 'Northern Mariana Islands', Decimal('100.00'), Decimal('79.00'), None, Decimal('93.726471')),
 ('Oceania', 'Palau', Decimal('100.00'), Decimal('99.67'), Decimal('0.25'), Decimal('93.726471')),
 ('Oceania', 'American Samoa', Decimal('100.00'), Decimal('54.00'), Decimal('0.72'), Decimal('93.726471')),
 ('Oceania', 'Cook Islands', Decimal('100.00'), Decimal('99.00'), None, Decimal('93.726471')),
 ('Oceania', 'French Polynesia', Decimal('100.00'), Decimal('97.00'), Decimal('5.71'), Decimal('93.726471')),
 ('Oceania', 'Niue', Decimal('97.00'), Decimal('96.00'), None, Decimal('93.726471')),
 ('Oceania', 'Samoa', Decimal('92.00'), Decimal('96.33'), Decimal('0.87'), Decimal('93.726471')),
 ('Oceania', 'Tokelau', Decimal('100.00'), Decimal('97.00'), None, Decimal('93.726471')),
 ('Oceania', 'Tonga', Decimal('99.00'), Decimal('93.33'), Decimal('0.48'), Decimal('93.726471')),
 ('Oceania', 'Tuvalu', Decimal('100.00'), None, Decimal('0.06'), Decimal('93.726471')),
 ('Oceania', 'Wallis and Futuna Islands', Decimal('99.00'), Decimal('93.00'), None, Decimal('93.726471')),
 ('Sub-Saharan Africa', 'Burundi', Decimal('70.33'), Decimal('44.33'), Decimal('2.65'), Decimal('53.540000')),
 ('Sub-Saharan Africa', 'Djibouti', Decimal('69.00'), Decimal('56.00'), Decimal('3.18'), Decimal('53.540000')),
 ('Sub-Saharan Africa', 'Ethiopia', Decimal('58.00'), Decimal('11.67'), Decimal('107.66'), Decimal('53.540000')),
 ('Sub-Saharan Africa', 'Kenya', Decimal('67.00'), Decimal('33.67'), Decimal('100.67'), Decimal('53.540000'))]

### Task 2: Filter the data

In [19]:
%%sql
SELECT 
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM 
    united_nations.Access_to_Basic_Services
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Time_period = 2020 
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1054, "Unknown column 'Avg_gdp_for_region' in 'where clause'")
[SQL: SELECT
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Region = 'Sub-Saharan Africa'
    AND Time_period = 2020
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

### Task 3: Implement the solution using subqueries

In [31]:
%%sql
SELECT 
    Country_name,
    Region,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Avg_gdp_for_region
FROM (
    SELECT 
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM
        united_nations.Access_to_Basic_Services
    WHERE 
        Time_period = 2020
    ) AS Avg_world_GDP_2020
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Pct_managed_drinking_water_services < 60 
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|       Country_name       |       Region       | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_gdp_in_billions | Avg_gdp_for_region |
+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|        Madagascar        | Sub-Saharan Africa |                56.33                |              13.00              |        13.05        |     39.041316      |
|         Somalia          | Sub-Saharan Africa |                57.33                |              40.00              |         6.88        |     39.041316      |
| Central African Republic | Sub-Saharan Africa |                38.33                |              15.00              |         2.33        |     39.041316      |
|           Chad           | Sub-Saharan Africa |                52.67                |              18.67              |        10.72        |     39.041316      |
|       Burkina Faso       | Sub-Saharan Africa |                53.33                |              25.00              |        17.93        |     39.041316      |
|          Niger           | Sub-Saharan Africa |                57.33                |              24.67              |        13.74        |     39.041316      |
+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+

### Task 4: Implement the solution using Common Table Expressions (CTEs)

In [48]:
%%sql
-- This CTE calculates the average regional GDP for each country, for the year 2020. 
WITH Avg_world_GDP_2020 AS (
    SELECT 
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM 
        united_nations.Access_to_Basic_Services
    WHERE 
        Time_period = 2020
)

/* 
This query filters the Avg_world_GDP_2020 CTE for 
countries that have below-average GDP, in the 
Sub-Saharan Africa region, and struggling with water access.
*/

SELECT 
    Country_name
FROM 
    Avg_world_GDP_2020
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Pct_managed_drinking_water_services < 60 
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------------+
|       Country_name       |
+--------------------------+
|        Madagascar        |
|         Somalia          |
| Central African Republic |
|           Chad           |
|       Burkina Faso       |
|          Niger           |
+--------------------------+

Note how much easier the CTE is to read compared to the query using a subquery.

## Summary

In our exercises, we have seen how subqueries and Common Table Expressions (CTEs) can be used to break down complex queries into manageable parts. This not only enhances readability but also improves performance by enabling the database to process the query more efficiently.

For instance, when identifying Sub-Saharan African countries with underdeveloped economies struggling to access drinking water services, we first used subqueries to combine conditions and evaluate the GDP criteria before assessing water access. We then applied the concept of Common Table Expressions as another optimised alternative, which allowed us to calculate the regional average GDP separately. This created a reusable block of code that could be referenced in the final query.

By comparing the two implementations, we saw how CTEs could simplify complex queries and eliminate the need for saving intermediary tables and taking up more space in the database or using multiple subqueries.

The use of CTEs and subqueries empowers us to optimise SQL queries effectively, making our data analysis more efficient and organised.

Remember, the choice between subqueries and CTEs often depends on the specific requirements of your task and the complexity of your SQL queries. It's always a good idea to test different implementations and choose the one that best meets your needs.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>