<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Joins and set operations
Â© ExploreAI Academy

In this exercise, we will use the skills we have learned so far to solve complex problems that involve string manipulation and handling.

## Learning objectives

In this exercise, we will:
- Understand and use different types of SQL Joins to combine data from different tables.
- Use `UNION`, `INTERSECT`, and `MINUS/EXCEPT` operators to combine rows from different tables.
- Understand the difference between Joins and Unions/Intersections/Minus in terms of column-wise and row-wise concatenation.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Connecting to 'sqlite:///Northwind.db'

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:70%";/>
<br>
<br>
    <em>Figure 1: Northwind database ERD</em>
</div>

## Overview
Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

In [7]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

### Exercise 1

Using the Northwind database, determine the list of products and their respective suppliers.

In [19]:
%%sql
SELECT
    p.ProductName,
    s.CompanyName
FROM
    Products AS p
LEFT JOIN
    Suppliers AS s
ON
    p.SupplierID = s.SupplierID

Running query in 'sqlite:///Northwind.db'

+----------------------------------+----------------------------------------+
|           ProductName            |              CompanyName               |
+----------------------------------+----------------------------------------+
|               Chai               |             Exotic Liquids             |
|              Chang               |             Exotic Liquids             |
|          Aniseed Syrup           |             Exotic Liquids             |
|   Chef Anton's Cajun Seasoning   |       New Orleans Cajun Delights       |
|      Chef Anton's Gumbo Mix      |       New Orleans Cajun Delights       |
|   Grandma's Boysenberry Spread   |       Grandma Kelly's Homestead        |
| Uncle Bob's Organic Dried Pears  |       Grandma Kelly's Homestead        |
|    Northwoods Cranberry Sauce    |       Grandma Kelly's Homestead        |
|         Mishi Kobe Niku          |             Tokyo Traders              |
|              Ikura               |             Tokyo Traders              |
|          Queso Cabrales          |   Cooperativa de Quesos 'Las Cabras'   |
|    Queso Manchego La Pastora     |   Cooperativa de Quesos 'Las Cabras'   |
|              Konbu               |                Mayumi's                |
|               Tofu               |                Mayumi's                |
|           Genen Shouyu           |                Mayumi's                |
|             Pavlova              |             Pavlova, Ltd.              |
|           Alice Mutton           |             Pavlova, Ltd.              |
|         Carnarvon Tigers         |             Pavlova, Ltd.              |
|    Teatime Chocolate Biscuits    |        Specialty Biscuits, Ltd.        |
|      Sir Rodney's Marmalade      |        Specialty Biscuits, Ltd.        |
|       Sir Rodney's Scones        |        Specialty Biscuits, Ltd.        |
|        Gustaf's Knckebrd         |             PB Knckebrd AB             |
|             Tunnbrd              |             PB Knckebrd AB             |
|         Guaran Fantstica         |       Refrescos Americanas LTDA        |
|      NuNuCa Nu-Nougat-Creme      |       Heli Swaren GmbH & Co. KG        |
|        Gumbr Gummibrchen         |       Heli Swaren GmbH & Co. KG        |
|        Schoggi Schokolade        |       Heli Swaren GmbH & Co. KG        |
|         Rssle Sauerkraut         |    Plutzer Lebensmittelgromrkte AG     |
|      Thringer Rostbratwurst      |    Plutzer Lebensmittelgromrkte AG     |
|      Nord-Ost Matjeshering       | Nord-Ost-Fisch Handelsgesellschaft mbH |
|        Gorgonzola Telino         |        Formaggi Fortini s.r.l.         |
|        Mascarpone Fabioli        |        Formaggi Fortini s.r.l.         |
|             Geitost              |            Norske Meierier             |
|          Sasquatch Ale           |           Bigfoot Breweries            |
|          Steeleye Stout          |           Bigfoot Breweries            |
|           Inlagd Sill            |            Svensk Sjfda AB             |
|            Gravad lax            |            Svensk Sjfda AB             |
|           Cte de Blaye           |       Aux joyeux ecclsiastiques        |
|         Chartreuse verte         |       Aux joyeux ecclsiastiques        |
|         Boston Crab Meat         |      New England Seafood Cannery       |
| Jack's New England Clam Chowder  |      New England Seafood Cannery       |
|  Singaporean Hokkien Fried Mee   |              Leka Trading              |
|           Ipoh Coffee            |              Leka Trading              |
|           Gula Malacca           |              Leka Trading              |
|           Rogede sild            |               Lyngbysild               |
|            Spegesild             |               Lyngbysild               |
|          Zaanse koeken           |          Zaanse Snoepfabriek           |
|            Chocolade             |          Zaanse Snoepfabriek           |
|             Maxilaku             |               Karkki Oy                |
|         Valkoinen suklaa         |               Karkki Oy                |
|      Manjimup Dried Apples       |              G'day, Mate               |
|             Filo Mix             |              G'day, Mate               |
|          Perth Pasties           |              G'day, Mate               |
|             Tourtire             |               Ma Maison                |
|            Pt chinois            |               Ma Maison                |
|      Gnocchi di nonna Alice      |          Pasta Buttini s.r.l.          |
|          Ravioli Angelo          |          Pasta Buttini s.r.l.          |
|      Escargots de Bourgogne      |           Escargots Nouveaux           |
|       Raclette Courdavault       |              Gai pturage               |
|        Camembert Pierrot         |              Gai pturage               |
|          Sirop d'rable           |             Forts d'rables             |
|          Tarte au sucre          |             Forts d'rables             |
|           Vegie-spread           |             Pavlova, Ltd.              |
|     Wimmers gute Semmelkndel     |    Plutzer Lebensmittelgromrkte AG     |
| Louisiana Fiery Hot Pepper Sauce |       New Orleans Cajun Delights       |
|    Louisiana Hot Spiced Okra     |       New Orleans Cajun Delights       |
|    Laughing Lumberjack Lager     |           Bigfoot Breweries            |
|       Scottish Longbreads        |        Specialty Biscuits, Ltd.        |
|         Gudbrandsdalsost         |            Norske Meierier             |
|          Outback Lager           |             Pavlova, Ltd.              |
|           Flotemysost            |            Norske Meierier             |
|      Mozzarella di Giovanni      |        Formaggi Fortini s.r.l.         |
|            Rd Kaviar             |            Svensk Sjfda AB             |
|          Longlife Tofu           |             Tokyo Traders              |
|        Rhnbru Klosterbier        |    Plutzer Lebensmittelgromrkte AG     |
|            Lakkalikri            |               Karkki Oy                |
|  Original Frankfurter grne Soe   |    Plutzer Lebensmittelgromrkte AG     |
+----------------------------------+----------------------------------------+

### Exercise 2

Generate a list of all cities where customers and employees are located.

In [13]:
%%sql

SELECT
    c.ContactName AS Name,
    c.City,
    "Customer" AS Type
FROM
    customers AS c
UNION
SELECT
    e.FirstName || ' ' || e.LastName,
    e.City,
    "Employee" AS Type
FROM
    employees AS e

Running query in 'sqlite:///Northwind.db'

+-------------------------+-----------------+----------+
|           Name          |       City      |   Type   |
+-------------------------+-----------------+----------+
|     Alejandra Camino    |      Madrid     | Customer |
|     Alexander Feuer     |     Leipzig     | Customer |
|       Ana Trujillo      |    Mxico D.F.   | Customer |
|    Anabela Domingues    |    Sao Paulo    | Customer |
|       Andr Fonseca      |     Campinas    | Customer |
|      Andrew Fuller      |      Tacoma     | Employee |
|        Ann Devon        |      London     | Customer |
|      Anne Dodsworth     |      London     | Employee |
|      Annette Roulet     |     Toulouse    | Customer |
|      Antonio Moreno     |    Mxico D.F.   | Customer |
|        Aria Cruz        |    Sao Paulo    | Customer |
|    Art Braunschweiger   |      Lander     | Customer |
|     Bernardo Batista    |  Rio de Janeiro | Customer |
|      Carine Schmitt     |      Nantes     | Customer |
|      Carlos Gonzlez     |   Barquisimeto  | Customer |
|     Carlos Hernndez     |   San Cristbal  | Customer |
|     Catherine Dewey     |    Bruxelles    | Customer |
|    Christina Berglund   |       Lule      | Customer |
|      Daniel Tonini      |    Versailles   | Customer |
|        Diego Roel       |      Madrid     | Customer |
|    Dominique Perrier    |      Paris      | Customer |
|     Eduardo Saavedra    |    Barcelona    | Customer |
|     Elizabeth Brown     |      London     | Customer |
|    Elizabeth Lincoln    |    Tsawassen    | Customer |
|     Felipe Izquierdo    | I. de Margarita | Customer |
|       Fran Wilson       |     Portland    | Customer |
|     Francisco Chang     |    Mxico D.F.   | Customer |
|     Frdrique Citeaux    |    Strasbourg   | Customer |
|       Georg Pipps       |     Salzburg    | Customer |
|     Giovanni Rovelli    |     Bergamo     | Customer |
|    Guillermo Fernndez   |    Mxico D.F.   | Customer |
|        Hanna Moos       |     Mannheim    | Customer |
|        Hari Kumar       |      London     | Customer |
|      Helen Bennett      |      Cowes      | Customer |
|      Helvetius Nagy     |     Kirkland    | Customer |
|   Henriette Pfalzheim   |       Kln       | Customer |
|       Horst Kloss       |    Cunewalde    | Customer |
|      Howard Snyder      |      Eugene     | Customer |
|     Isabel de Castro    |      Lisboa     | Customer |
|       Jaime Yorres      |  San Francisco  | Customer |
|     Janet Leverling     |     Kirkland    | Employee |
|      Janete Limeira     |  Rio de Janeiro | Customer |
|      Janine Labrune     |      Nantes     | Customer |
|      Jean Fresnire      |     Montral     | Customer |
|        John Steel       |   Walla Walla   | Customer |
|     Jonas Bergulfsen    |     Stavern     | Customer |
|     Jos Pedro Freyre    |     Sevilla     | Customer |
|      Jose Pavarotti     |      Boise      | Customer |
|      Jytte Petersen     |    Kobenhavn    | Customer |
|      Karin Josephs      |      Mnster     | Customer |
|      Karl Jablonski     |     Seattle     | Customer |
|      Laura Callahan     |     Seattle     | Employee |
|     Laurence Lebihan    |    Marseille    | Customer |
|      Lcia Carvalho      |    Sao Paulo    | Customer |
|      Lino Rodriguez     |      Lisboa     | Customer |
|         Liu Wong        |      Butte      | Customer |
|        Liz Nixon        |     Portland    | Customer |
|      Manuel Pereira     |     Caracas     | Customer |
|     Margaret Peacock    |     Redmond     | Employee |
|       Maria Anders      |      Berlin     | Customer |
|      Maria Larsson      |      Brcke      | Customer |
|      Marie Bertrand     |      Paris      | Customer |
|       Mario Pontes      |  Rio de Janeiro | Customer |
|       Martine Ranc      |      Lille      | Customer |
|       Martn Sommer      |      Madrid     | Customer |
|       Mary Saveley      |       Lyon      | Customer |
|     Matti Karttunen     |     Helsinki    | Customer |
|     Maurizio Moroni     |  Reggio Emilia  | Customer |
|       Michael Holz      |      Genve      | Customer |
|      Michael Suyama     |      London     | Employee |
|   Miguel Angel Paolino  |    Mxico D.F.   | Customer |
|      Nancy Davolio      |     Seattle     | Employee |
|       Palle Ibsen       |       rhus      | Customer |
|      Paolo Accorti      |      Torino     | Customer |
|     Pascale Cartrain    |    Charleroi    | Customer |
|     Patricia McKenna    |       Cork      | Customer |
|     Patricio Simpson    |   Buenos Aires  | Customer |
|       Paul Henriot      |      Reims      | Customer |
|      Paula Parente      |     Resende     | Customer |
|       Paula Wilson      |   Albuquerque   | Customer |
|       Pedro Afonso      |    Sao Paulo    | Customer |
|      Peter Franken      |      Mnchen     | Customer |
|      Philip Cramer      |   Brandenburg   | Customer |
|     Pirkko Koskitalo    |       Oulu      | Customer |
|      Renate Messner     |  Frankfurt a.M. | Customer |
|      Rene Phillips      |    Anchorage    | Customer |
|        Rita Mller       |    Stuttgart    | Customer |
|       Robert King       |      London     | Employee |
|      Roland Mendel      |       Graz      | Customer |
|     Sergio Gutirrez     |   Buenos Aires  | Customer |
|      Simon Crowther     |      London     | Customer |
|     Steven Buchanan     |      London     | Employee |
|       Sven Ottlieb      |      Aachen     | Customer |
|       Thomas Hardy      |      London     | Customer |
|           Val2          |       None      | Customer |
|        Valon Hoti       |       None      | Customer |
|    Victoria Ashworth    |      London     | Customer |
|        Yang Wang        |       Bern      | Customer |
|      Yoshi Latimer      |      Elgin      | Customer |
|     Yoshi Tannamuri     |    Vancouver    | Customer |
|      Yvonne Moncada     |   Buenos Aires  | Customer |
| Zbyszek Piestrzeniewicz |     Warszawa    | Customer |
+-------------------------+-----------------+----------+

###  Exercise 3

Create a list of all unique cities where customers are located and employees live.

In [27]:
%%sql

SELECT
    c.City
FROM
    customers AS c
INTERSECT
SELECT
    e.City
FROM
    employees AS e

Running query in 'sqlite:///Northwind.db'

+----------+
|   City   |
+----------+
| Kirkland |
|  London  |
| Seattle  |
+----------+

### 4. Challenge question

Using the Northwind database, as the new sales analyst, you've been asked to prepare a sales report for the last quarter. Your report should include:
1. Customer names and their countries.
2. The total amount spent by each customer.
3. The list of products each customer purchased.
4. The total quantity of each product purchased by each customer.

Only include customers who have spent more than 5000 in the last quarter.

In [40]:
%%sql

SELECT
    cus.ContactName,
    cus.Country,
    od.Quantity,
    SUM(od.Quantity * od.UnitPrice) AS Total, 
    od.ProductID
FROM
    Customers AS cus
LEFT JOIN
    Orders AS o
ON
    cus.CustomerID = o.CustomerID
LEFT JOIN
    OrderDetails AS od
ON
    o.OrderID = od.OrderID
GROUP BY
    cus.ContactName
HAVING
    SUM((od.Quantity * od.UnitPrice)*(1-od.Discount)) > 5000

Running query in 'sqlite:///Northwind.db'

+----------------------+-------------+----------+--------------------+-----------+
|     ContactName      |   Country   | Quantity |       Total        | ProductID |
+----------------------+-------------+----------+--------------------+-----------+
|   Alexander Feuer    |   Germany   |    20    |       5042.2       |     28    |
|  Anabela Domingues   |    Brazil   |    20    |      7310.62       |     20    |
|     Andr Fonseca     |    Brazil   |    14    |      8702.23       |     31    |
|      Ann Devon       |      UK     |    30    |      15033.66      |     69    |
|    Annette Roulet    |    France   |    15    | 10272.350000000002 |     50    |
|    Antonio Moreno    |    Mexico   |    24    | 7515.349999999999  |     11    |
|  Art Braunschweiger  |     USA     |    24    |      12489.7       |     33    |
|   Bernardo Batista   |    Brazil   |    20    |      6973.63       |     21    |
|    Carlos Gonzlez    |  Venezuela  |    20    |      17825.06      |     15    |
|   Carlos Hernndez    |  Venezuela  |    25    | 23611.579999999998 |     27    |
|   Catherine Dewey    |   Belgium   |    14    |      10430.58      |     55    |
|  Christina Berglund  |    Sweden   |    16    | 26968.149999999998 |     44    |
|  Elizabeth Lincoln   |    Canada   |    16    |      22607.7       |     10    |
|   Felipe Izquierdo   |  Venezuela  |    50    | 17889.550000000003 |     3     |
|   Frdrique Citeaux   |    France   |    30    |      19088.0       |     17    |
|     Georg Pipps      |   Austria   |    12    |      26259.95      |     11    |
|   Giovanni Rovelli   |    Italy    |    12    | 7603.849999999999  |     24    |
|      Hari Kumar      |      UK     |    56    | 17172.049999999996 |     16    |
|    Helen Bennett     |      UK     |    14    |       6146.3       |     34    |
| Henriette Pfalzheim  |   Germany   |    16    |      13157.5       |     41    |
|     Horst Kloss      |   Germany   |    24    | 117483.39000000001 |     10    |
|    Howard Snyder     |     USA     |    3     |      19711.13      |     11    |
|   Isabel de Castro   |   Portugal  |    18    |       5317.1       |     4     |
|    Janete Limeira    |    Brazil   |    40    |      12924.4       |     16    |
|    Jean Fresnire     |    Canada   |    40    |      32203.9       |     18    |
|   Jonas Bergulfsen   |    Norway   |    15    | 5735.150000000001  |     24    |
|   Jos Pedro Freyre   |    Spain    |    40    |      11830.1       |     40    |
|    Jose Pavarotti    |     USA     |    21    |     115673.39      |     16    |
|    Jytte Petersen    |   Denmark   |    8     |      18138.45      |     33    |
|    Karl Jablonski    |     USA     |    60    | 29073.450000000004 |     33    |
|   Laurence Lebihan   |    France   |    15    |      23850.95      |     54    |
|    Lcia Carvalho     |    Brazil   |    12    | 30226.099999999995 |     20    |
|    Lino Rodriguez    |   Portugal  |    9     |      7151.55       |     59    |
|    Maria Larsson     |    Sweden   |    35    |      32555.55      |     2     |
|     Mario Pontes     |    Brazil   |    10    |      34101.15      |     41    |
|     Martine Ranc     |    France   |    10    |      11666.9       |     37    |
|     Martn Sommer     |    Spain    |    24    |       5297.8       |     4     |
|     Mary Saveley     |    France   |    6     |       9937.1       |     22    |
|   Maurizio Moroni    |    Italy    |    10    |       7555.6       |     54    |
|     Michael Holz     | Switzerland |    20    | 20033.200000000004 |     2     |
| Miguel Angel Paolino |    Mexico   |    15    |      10812.15      |     10    |
|     Palle Ibsen      |   Denmark   |    36    |      16643.8       |     34    |
|   Pascale Cartrain   |   Belgium   |    40    | 24704.399999999998 |     20    |
|   Patricia McKenna   |   Ireland   |    40    |      57317.39      |     2     |
|    Paula Parente     |    Brazil   |    15    |       6480.7       |     53    |
|     Paula Wilson     |     USA     |    12    |      52245.9       |     5     |
|    Peter Franken     |   Germany   |    50    |      28722.71      |     40    |
|    Philip Cramer     |   Germany   |    5     |      31745.75      |     15    |
|   Pirkko Koskitalo   |   Finland   |    12    |      16617.1       |     12    |
|    Renate Messner    |   Germany   |    15    | 21282.019999999997 |     17    |
|    Rene Phillips     |     USA     |    25    |      16325.15      |     18    |
|      Rita Mller      |   Germany   |    10    |      10653.85      |     40    |
|    Roland Mendel     |   Austria   |    50    |     113236.68      |     2     |
|     Thomas Hardy     |      UK     |    25    |      13806.5       |     24    |
|  Victoria Ashworth   |      UK     |    30    |       6089.9       |     3     |
|      Yang Wang       | Switzerland |    15    |      12886.3       |     24    |
+----------------------+-------------+----------+--------------------+-----------+

## Solutions

### Exercise 1

This query combines rows from `Products` and `Suppliers` tables based on the condition where `Products.SupplierID` equals `Suppliers.SupplierID`.

Expected outcome: The result should be a table that includes columns for `ProductName` and `SupplierName` which shows the products and their respective suppliers.

In [ ]:
%%sql

SELECT 
    product.ProductName, 
    supplier.CompanyName
FROM 
    Products AS product
INNER JOIN 
    Suppliers AS supplier
    ON product.SupplierID = supplier.SupplierID;

### Exercise 2

The `UNION` operator is used to combine the results of two `SELECT` statements. It removes duplicate rows from the results.

Expected outcome: A single column table of unique cities where customers and employees are located.

In [14]:
%%sql

SELECT 
    City 
FROM 
    Customers
UNION
SELECT 
    City 
FROM 
    Employees;

Running query in 'sqlite:///Northwind.db'

+-----------------+
|       City      |
+-----------------+
|       None      |
|      Aachen     |
|   Albuquerque   |
|    Anchorage    |
|    Barcelona    |
|   Barquisimeto  |
|     Bergamo     |
|      Berlin     |
|       Bern      |
|      Boise      |
|   Brandenburg   |
|      Brcke      |
|    Bruxelles    |
|   Buenos Aires  |
|      Butte      |
|     Campinas    |
|     Caracas     |
|    Charleroi    |
|       Cork      |
|      Cowes      |
|    Cunewalde    |
|      Elgin      |
|      Eugene     |
|  Frankfurt a.M. |
|      Genve      |
|       Graz      |
|     Helsinki    |
| I. de Margarita |
|     Kirkland    |
|       Kln       |
|    Kobenhavn    |
|      Lander     |
|     Leipzig     |
|      Lille      |
|      Lisboa     |
|      London     |
|       Lule      |
|       Lyon      |
|      Madrid     |
|     Mannheim    |
|    Marseille    |
|      Mnchen     |
|      Mnster     |
|     Montral     |
|    Mxico D.F.   |
|      Nantes     |
|       Oulu      |
|      Paris      |
|     Portland    |
|     Redmond     |
|  Reggio Emilia  |
|      Reims      |
|     Resende     |
|  Rio de Janeiro |
|     Salzburg    |
|   San Cristbal  |
|  San Francisco  |
|    Sao Paulo    |
|     Seattle     |
|     Sevilla     |
|     Stavern     |
|    Strasbourg   |
|    Stuttgart    |
|      Tacoma     |
|      Torino     |
|     Toulouse    |
|    Tsawassen    |
|    Vancouver    |
|    Versailles   |
|   Walla Walla   |
|     Warszawa    |
|       rhus      |
+-----------------+

###  Exercise 3

The `JOIN` query returns cities that are common in both `Customers` and `Employees` tables (i.e. it looks for matches). On the other hand, the `UNION` query returns a list of all unique cities in both tables, eliminating any duplicates.

Expected outcome: Two sets of outputs â one for the `JOIN` query and another for the `UNION` query.

In [26]:
%%sql

SELECT 
    Customers.City 
FROM 
    Customers 
INNER JOIN 
    Employees 
    ON Customers.City = Employees.City;

Running query in 'sqlite:///Northwind.db'

+----------+
|   City   |
+----------+
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
|  London  |
| Kirkland |
| Seattle  |
| Seattle  |
+----------+

### 4. Challenge question

In [36]:
%%sql

SELECT 
    customer.ContactName, 
    customer.Country,
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) AS TotalSalesAmount,
    product.ProductName,
    SUM(orderDetails.Quantity) AS TotalUnitsSold
FROM 
    Customers AS customer
JOIN 
    Orders AS orders 
    ON customer.CustomerID = orders.CustomerID
JOIN 
    OrderDetails AS orderDetails 
    ON orders.OrderID = orderDetails.OrderID
JOIN 
    Products AS product 
    ON orderDetails.ProductID = product.ProductID
WHERE 
    orders.OrderDate BETWEEN '1996-08-01' AND '1998-01-30'
GROUP BY 
    customer.ContactName,
    customer.Country, 
    product.ProductName
HAVING 
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) > 5000;

Running query in 'sqlite:///Northwind.db'

+------------------+---------+--------------------+------------------------+----------------+
|   ContactName    | Country |  TotalSalesAmount  |      ProductName       | TotalUnitsSold |
+------------------+---------+--------------------+------------------------+----------------+
|   Georg Pipps    | Austria |      10540.0       |      Cte de Blaye      |       50       |
|   Horst Kloss    | Germany |       6222.0       |   Camembert Pierrot    |      194       |
|   Horst Kloss    | Germany |       7905.0       |      Cte de Blaye      |       30       |
|   Horst Kloss    | Germany |       5268.0       |   Schoggi Schokolade   |      120       |
|  Howard Snyder   |   USA   |      11857.5       |      Cte de Blaye      |       45       |
|  Jean Fresnire   |  Canada |      10329.2       |      Cte de Blaye      |       49       |
|  Jose Pavarotti  |   USA   | 6832.4400000000005 | Thringer Rostbratwurst |       60       |
|  Jytte Petersen  | Denmark |      10540.0       |      Cte de Blaye      |       50       |
|  Lcia Carvalho   |  Brazil |       8432.0       |      Cte de Blaye      |       40       |
| Patricia McKenna | Ireland |        5830        |  Raclette Courdavault  |      112       |
|   Paula Wilson   |   USA   |       6324.0       |      Cte de Blaye      |       30       |
|   Paula Wilson   |   USA   |       6208.0       |     Tarte au sucre     |      145       |
|  Philip Cramer   | Germany |       7905.0       |      Cte de Blaye      |       30       |
|  Roland Mendel   | Austria |        6360        | Manjimup Dried Apples  |      120       |
+------------------+---------+--------------------+------------------------+----------------+

This problem involves pulling data from multiple tables (`Customers`, `Orders`, `OrderDetails`, and `Products`) to create a detailed report. It's testing your ability to use `JOINS`, aggregate functions, grouping, and the `HAVING` clause.

Here's how to break down the problem:

1. **Identify the tables you need to pull data from**: For this problem, you'll need data from the `Customers`, `Orders`, `OrderDetails`, and `Products` tables.
2. **Join these tables**: Use SQL joins to connect these tables. The `Orders` table is connected to `Customers` via `CustomerID`. The `OrderDetails` table is connected to `Orders` via `OrderID` and to `Products` via `ProductID`.
3. **Filter the data**: Use the `WHERE` clause to filter orders to only include those from the last quarter ('2023-04-01' to '2023-06-30').
4. **Aggregate the data**: Aggregate functions are needed to calculate the total amount spent by each customer (SUM of `Quantity` * `UnitPrice`) and the total quantity of each product purchased by each customer (`SUM` of `Quantity`). This is done in the `SELECT` clause.
5. **Group the data**: Use the `GROUP BY` clause to segment the data by `CustomerName`, `Country`, and `ProductName`.
6. **Apply a condition on an aggregate:** Lastly, use the `HAVING` clause to include only customers who have spent more than 5000 in the last quarter. Remember, when you want to use a condition on an aggregate, you should use the `HAVING` clause, not the `WHERE` clause. The `WHERE` clause is used to filter rows, while the `HAVING` clause is used to filter groups.

The result is a detailed report with customer names, their countries, the total amount spent by each customer, the list of products each customer purchased, and the total quantity of each product purchased by each customer for the last quarter. Only customers who spent more than 5000 are included.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>