<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Composite and foreign keys:  Basic_services and Economic_indicators tables
© ExploreAI Academy

In this notebook, we demonstrate how to divide a larger dataset into smaller tables and link them using relationships.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Understand how to create composite keys that make up the primary key.
- Understand how to create a foreign key that references a primary key in another table.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table created in MySQL Workbench, we are interested in creating tables that contain  the basic services and economic indicators data for each country and each year. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [1]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:12345678@localhost:3306/united_nations

UsageError: Line magic function `%sql` not found.

To make a query, we add the `%%sql` command to the start of a cell, create one open line, and then the query like below, and run the cell.

In [12]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2020    |                95.00                |              98.00              |         18.755666          |        171.08       | 2699700.00 |       4.89       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2015    |                89.67                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2016    |                90.33                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2017    |                91.00                |              97.33              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2018    |                91.33                |              97.33              |            None            |         None        |    None    |       None       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

## Exercise

We want to do the following:
1. Create a table that contains data about access to basic services for each country and year.
2. Create a table that contains the economic indicators for each country and each year.

### 1. Create a table that contains data about access to basic services for each country and year only.

Create a table named `Basic_services` with the columns `Country_name`, `Time_period`, `Pct_managed_drinking_water_services`, and `Pct_managed_sanitation_services`, with `Country_name` and `Time_period` being the composite keys and `Country_name` being the foreign key.

In [20]:
%%sql

CREATE TABLE Basic_services(
Country_name VARCHAR(50),
Time_period INT,
Pct_managed_drinking_water_services DECIMAL(5,2),
Pct_managed_sanitation_services DECIMAL(5,2),
PRIMARY KEY (Country_name, Time_period),
FOREIGN KEY (Country_name) REFERENCES Geographic_location(Country_name))

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

++
||
++
++

Extract the columns `Country_name`, `Time_period`, `Pct_managed_drinking_water_services`, and `Pct_managed_sanitation_services` from the `Access_to_Basic_Services` table into the newly created `Basic_services` table.

In [21]:
%%sql
INSERT INTO Basic_services(Country_name, Time_period, Pct_managed_drinking_water_services, Pct_managed_sanitation_services)
SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services
FROM
    Access_to_Basic_Services

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

++
||
++
++

### 2. Create a table that contains the economic indicators.

Create a table named `Economic_indicators` with the columns `Country_name`, `Time_period`, `Est_gdp_in_billions`, `Est_population_in_millions`, and `Pct_unemployment`, with `Country_name` and `Time_period` being the composite keys and `Country_name` being the foreign key.

In [25]:
%%sql

CREATE TABLE Economic_Indicators (
Country_name VARCHAR(50),
Time_period INT,
Est_gdp_in_billions NUMERIC(10,2),
Est_population_in_millions NUMERIC(11,6),
Pct_unemployment NUMERIC(5,2),
PRIMARY KEY (Country_name, Time_period),
FOREIGN KEY (Country_name) REFERENCES Geographic_location (Country_name)
)

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

++
||
++
++

Extract the columns `Country_name`, `Time_period`, `Est_gdp_in_billions`, `Est_population_in_millions`, and `Pct_unemployment` from the `Access_to_Basic_Services` table into the newly created `Economic_indicators` table.

In [26]:
%%sql

INSERT INTO Economic_Indicators (Country_name, Time_period, Est_gdp_in_billions, Est_population_in_millions, Pct_unemployment)
SELECT
    Country_name,
    Time_period,
    Est_gdp_in_billions,
    Est_population_in_millions,
    Pct_unemployment
FROM
    Access_to_Basic_Services

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

++
||
++
++

In [29]:
%%sql
SELECT * FROM Basic_services

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services |
+--------------+-------------+-------------------------------------+---------------------------------+
| Afghanistan  |     2015    |                67.00                |              45.67              |
| Afghanistan  |     2016    |                69.67                |              47.00              |
| Afghanistan  |     2017    |                72.33                |              49.33              |
| Afghanistan  |     2018    |                75.33                |              50.67              |
| Afghanistan  |     2019    |                78.00                |              52.33              |
| Afghanistan  |     2020    |                80.33                |              54.00              |
|   Algeria    |     2015    |                92.00                |              85.00              |
|   Algeria    |     2016    |                93.00                |              85.33              |
|   Algeria    |     2017    |                93.00                |              84.67              |
|   Algeria    |     2018    |                93.00                |              84.67              |
+--------------+-------------+-------------------------------------+---------------------------------+
Truncated to displaylimit of 10.

In [30]:
%%sql
SELECT * FROM Economic_Indicators

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

+--------------+-------------+---------------------+----------------------------+------------------+
| Country_name | Time_period | Est_gdp_in_billions | Est_population_in_millions | Pct_unemployment |
+--------------+-------------+---------------------+----------------------------+------------------+
| Afghanistan  |     2015    |        20.00        |         33.753499          |       None       |
| Afghanistan  |     2016    |        18.02        |         34.636207          |       None       |
| Afghanistan  |     2017    |        18.90        |         35.643418          |      11.18       |
| Afghanistan  |     2018    |        18.42        |         36.686784          |       None       |
| Afghanistan  |     2019    |        18.90        |         37.769499          |       None       |
| Afghanistan  |     2020    |        20.14        |         38.972230          |      11.71       |
|   Algeria    |     2015    |        165.98       |         39.543154          |      11.21       |
|   Algeria    |     2016    |        160.03       |         40.339329          |      10.20       |
|   Algeria    |     2017    |        170.10       |         41.136546          |      12.00       |
|   Algeria    |     2018    |        174.91       |         41.927007          |       None       |
+--------------+-------------+---------------------+----------------------------+------------------+
Truncated to displaylimit of 10.

## Solutions

### 1. Create a table that contains data about access to basic services for each country and year only.

In [ ]:
%%sql

CREATE TABLE united_nations.Basic_Services (
  Country_name VARCHAR(37),
  Time_period INTEGER,
  Pct_managed_drinking_water_services NUMERIC(5,2),
  Pct_managed_sanitation_services NUMERIC(5,2),
  PRIMARY KEY (Country_name, Time_period),
  FOREIGN KEY (Country_name) REFERENCES Geographic_Location (Country_name)
);

Since our main Access to Basic Services table contains measurements of basic services for each country and year, it implies that every unique country and year will have unique measurements. In other words, both `Country_name` and `Time_period` identify each unique entry. Therefore, `Country_name` and `Time_period` are the composite keys that make up the primary key.

Furthermore, since we have already created a `Geographic_Location` table that contains the geographic location data for each country, this table will include a foreign key that links the `Country_name` column to the `Country_name` primary key in the `Geographic_Location` table.

In [ ]:
%%sql

INSERT INTO Basic_Services (Country_name, Time_period, Pct_managed_drinking_water_services, Pct_managed_sanitation_services)
SELECT Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services
FROM united_nations.Access_to_Basic_Services;

### 2. Create a table that contains the economic indicators.

In [ ]:
%%sql

CREATE TABLE united_nations.Economic_Indicators (
  Country_name VARCHAR(37),
  Time_period INTEGER,
  Est_gdp_in_billions NUMERIC(8,2),
  Est_population_in_millions NUMERIC(11,6),
  Pct_unemployment NUMERIC(5,2),
  PRIMARY KEY (Country_name, Time_period),
  FOREIGN KEY (Country_name) REFERENCES Geographic_Location (Country_name)
);

Again, since we have these metrics per country and per year, `Country_name` and `Time_period` are the composite keys that make up the primary key, and we will have a foreign key that links the `Country_name` column to the `Country_name` primary key in the `Geographic_Location` table.

In [ ]:
INSERT INTO Economic_Indicators (Country_name, Time_period, Est_gdp_in_billions, Est_population_in_millions, Pct_unemployment)
SELECT Country_name,
    Time_period,
    Est_gdp_in_billions,
    Est_population_in_millions,
    Pct_unemployment    
FROM united_nations.Access_to_Basic_Services;

In [31]:
%%sql

SHOW TABLES

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+--------------------------+
| Tables_in_united_nations |
+--------------------------+
| Access_to_Basic_Services |
|      Basic_services      |
|       Country_list       |
|   Economic_Indicators    |
|   Geographic_Location    |
+--------------------------+

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>