<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Primary keys: Create Geographic_Location table
© ExploreAI Academy

In this notebook, we demonstrate how to divide a larger dataset into smaller tables and link them using relationships.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Understand how to extract specific related columns from a table to create a new table that will be linked with the rest of the tables using a relation.
- Understand how to create a primary key and the uniqueness constraint.

## Connecting to our MySQL database

Using our Access_to_Basic_Services table created in MySQL Workbench, we are interested in creating a table that contains only the geographic location data for each country. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [1]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:12345678@localhost:3306/united_nations

UsageError: Line magic function `%sql` not found.

To make a query, we add the `%%sql` command to the start of a cell, create one open line, and then the query like below, and run the cell.

In [3]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2020    |                95.00                |              98.00              |         18.755666          |        171.08       | 2699700.00 |       4.89       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2015    |                89.67                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2016    |                90.33                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2017    |                91.00                |              97.33              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2018    |                91.33                |              97.33              |            None            |         None        |    None    |       None       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

## Exercise

We want to do the following:
1. Create a table named `Geographic_Location`.
2. Extract the relevant columns from the `Access_to_Basic_Services` table into the `Geographic_Location` table.

### 1. Create a table named Geographic_Location.

Create a table named `Geographic_Location` with the columns `Country_name`, `Sub_region`, `Region`, and `Land_area`, with `Country_name` being the primary key.

In [32]:
%%sql

CREATE TABLE Geographic_Location(
    Country_name VARCHAR(50) PRIMARY KEY, 
    Sub_region VARCHAR(50), 
    Region VARCHAR(50), 
    Land_area DECIMAL(10,2)
);

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

++
||
++
++

In [24]:
%%sql
SHOW TABLES FROM united_nations

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

2 rows affected.

+--------------------------+
| Tables_in_united_nations |
+--------------------------+
| Access_to_Basic_Services |
|       Country_list       |
+--------------------------+

### 2. Extract the relevant columns from the Access_to_Basic_Services table.

Extract the columns `Country_name`, `Sub_region`, `Region`, and `Land_area` from the `Access_to_Basic_Services` table into the newly created `Geographic_Location` table.

In [33]:
%%sql

INSERT INTO Geographic_Location (Country_name, Sub_region, Region, Land_area)
SELECT
    Country_name,
    Sub_region,
    Region,
    AVG(Land_area)
FROM 
    Access_to_Basic_Services
GROUP BY 
    Country_name,
    Sub_region,
    Region

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

++
||
++
++

## Solutions

### 1. Create a table named Geographic_Location.

In [ ]:
%%sql

CREATE TABLE united_nations.Geographic_Location (
  Country_name VARCHAR(37) PRIMARY KEY,
  Sub_region VARCHAR(25),
  Region VARCHAR(32),
  Land_area NUMERIC(10,2)
);

Remember to create the primary constraint for the `Country_name` column since it will be the identifier for each unique country.

### 2. Extract the relevant columns from the Access_to_Basic_Services table.

In [27]:
%%sql

INSERT INTO united_nations.Geographic_Location (Country_name, Sub_region, Region, Land_area)
SELECT Country_name,
    Sub_region,
    Region,
    AVG(Land_area) as Country_area
FROM united_nations.Access_to_Basic_Services
GROUP BY Country_name,
    Sub_region,
    Region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

++
||
++
++

Remember that we specified that the `Country_name` column serves as the primary key for the `Geographic_location` table. 
`Country_name`, however, is not a unique identifier and contains duplicate countries in the `Access_to_Basic_Services` table since the same country names have been recorded many times for various years. The same applies for `Sub_region` and `Region`.

These duplicates will also be copied when the data of this column are transferred to the new `Geographic_Location` table. In order to obtain the unique entries, we must group the data by `Country_name`, `Sub_region`, and `Region`. 

By doing this, any "Duplicate entry for primary key" errors will be avoided.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>